src/main/resources/com/employeexml/employeecrudxml/models/employees.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Employees" type="EmployeesType"/>
    <xs:complexType name="PhoneType">
        <xs:simpleContent>
            <xs:restriction base="xs:string">
                <xs:enumeration value="mobile"/>
                <xs:enumeration value="telephone"/>
            </xs:restriction>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CountryType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="CityType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="RegionType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="StreetType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="BuildingType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element type="CountryType" name="Country"/>
            <xs:element type="CityType" name="City"/>
            <xs:element type="RegionType" name="Region"/>
            <xs:element type="StreetType" name="Street"/>
            <xs:element type="BuildingType" name="Building"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AddressesType">
        <xs:sequence>
            <xs:element type="AddressType" name="Address"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PhonesType">
        <xs:sequence>
            <xs:element type="PhoneType" name="Phone"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EmployeeType">
        <xs:sequence>
            <xs:element type="PhonesType" name="Phones"/>
            <xs:element type="AddressesType" name="Addresses"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="id"/>
        <xs:attribute type="xs:string" name="email"/>
        <xs:attribute type="xs:string" name="salary"/>
    </xs:complexType>
    <xs:complexType name="EmployeesType">
        <xs:sequence>
            <xs:element type="EmployeeType" name="Employee"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>